---
layout: "layouts/base.liquid"
---

<article class="post h-entry">
  <header class="post-header">
    <h1>
      <a href="{{ url | remove_last: ".html" }}" class="p-name u-uid u-url">{{ title }}</a>
    </h1>

    <p>
      Presented by
      {% for speaker in speakers -%}
        <a href="{{ speaker.url }}" class="h-card">{{ speaker.name }}</a>
      {% endfor -%}
      on <time class="dt-published" datetime="{{ date | date }}">{{ date | date: dates.display, "America/New_York" }}</time>.
    </p>
  </header>

  <div class="post-content e-content">
    {{ content }}
  </div>
</article>
